* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
  --bg-color : rgb(46, 45, 43);
  --btn-color : rgb(255, 255, 255);
  --btn-bg-color : rgb(0, 80, 112);
  --color : rgb(222, 220, 217);
  --list-bg-color : rgb(255, 255, 255);
  --list-color : rgb(0, 0, 0);
  background-color: var(--bg-color);
}

#root {
  max-width: 100vw;
  height: auto;
}



html {
  font-size: 62.5%;
  /* 1rem = 10px  */
  /* scroll-behavior: smooth; */
  /* scroll-snap-type: Y proximity; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p,
li,
a,
label {
  font-family: "Urbanist", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: var(--para-color);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/***** todo Section *****/
.todo-container {
  color: var(--color); 
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;
  max-width: 100vw;
  height: 100vh;

  & header {
    margin-top: 5rem;
    font-size: 3.2rem;
  }
  
  & .form {
    display: flex;
    width: 38rem;
    
    & .todo-input {
      outline: none;
      border: none;
      width: 25rem;
      height: 4.4rem;
      border-radius: 1rem 0 0 1rem;
      padding-left: 1rem;
      font-size: 2.2rem;
    }

    & .todo-btn {
      border-radius: 0  1rem 1rem 0;
      width: 12rem;
      font-size: 2.2rem;
      height: 4.4rem;
      background-color: var(--btn-bg-color);
      color: var(--btn-color);
      border: none;
      cursor: pointer;
    }
  }
  
  & .todo-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--list-color);

    & li {
      background-color: var(--list-bg-color);
      width: 30rem;
      height: 5rem;
      display: flex;
      justify-content: space-between;
      padding: .5rem 3rem;
      margin-top: 1.8rem;
      gap: 2rem;
      align-items: center;
      border-radius: 2rem;
      position: relative;
      

      & .check-btn {
        position: absolute;
        left: 21rem;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 255, 21);
        border: none;
        font-size: 2.4rem;
        cursor: pointer;
      }

      & .delete-btn {
        background-color: white;
        color: rgb(255, 0, 0);
        border: none;
        border-radius: .5rem;
        font-size: 2.4rem;
        cursor: pointer;
      }

    }

    & span {
      font-size: 2rem;
    }

  }

  & .btn {
    font-size: 2rem;
    background-color: red;
    color: var(--btn-color);
    cursor: pointer;
    padding : 1.5rem;
    border-radius: 1rem;
  }
}
/***** End todo Section *****/


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (width <= 1120px) {
  
}

