* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --bg-color: rgb(46, 45, 43);
  --btn-color: rgb(255, 255, 255);
  --btn-bg-color: rgb(0, 80, 112);
  --color: rgb(222, 220, 217);
  --list-bg-color: rgb(255, 255, 255);
  --list-color: rgb(0, 0, 0);
  background-color: var(--bg-color);
}

#root {
  max-width: 100vw;
  height: auto;
}



html {
  font-size: 62.5%;
  /* 1rem = 10px  */
  /* scroll-behavior: smooth; */
  /* scroll-snap-type: Y proximity; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p,
li,
a,
label {
  font-family: "Urbanist", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: var(--para-color);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/***** todo Section *****/
.todo-container {
  color: var(--color);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 5rem;
  gap: 2.4rem;
  max-width: 100vw;
  height: 100vh;

  & header {
    margin-top: 5rem;
    font-size: 3.2rem;

    & .date-time {
      display: flex;
      justify-content: center;
      font-size: 1.8rem;
      padding: 1rem 1rem 0 1rem;
    }

  }

  & .form {
    display: flex;
    width: 38rem;

    & .todo-input {
      outline: none;
      border: none;
      width: 25rem;
      height: 4.4rem;
      border-radius: 1rem 0 0 1rem;
      padding-left: 1rem;
      font-size: 2.2rem;
    }

    & .todo-btn {
      border-radius: 0 1rem 1rem 0;
      width: 12rem;
      font-size: 2.2rem;
      height: 4.4rem;
      background-color: var(--btn-bg-color);
      color: var(--btn-color);
      border: none;
      cursor: pointer;

      &:hover {
        color: black;
        font-weight: 550;
        background-color: rgb(255, 217, 0);
      }

    }
  }

  & .todo-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--list-color);

    & li {
      background-color: var(--list-bg-color);
      width: 30rem;
      overflow-wrap: break-word;
      height: auto;
      display: flex;
      justify-content: space-between;
      padding: .5rem 3rem;
      margin-top: 1.8rem;
      gap: 2rem;
      align-items: center;
      border-radius: 2rem;
      position: relative;

      & .li-btn {
        display: flex;
        justify-items: center;
        align-items: center;
        gap: 1rem;
        padding-left: 1rem;
      }

      & .check-btn {
        border: none;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 255, 21);
        font-size: 2.4rem;
        cursor: pointer;
      }

      & .delete-btn {
        background-color: white;
        color: rgb(255, 0, 0);
        border: none;
        border-radius: .5rem;
        font-size: 2.4rem;
        cursor: pointer;
      }

      & .edit-btn {
        background-color: white;
        color: var(--btn-bg-color);
        border: none;
        border-radius: .5rem;
        cursor: pointer;
        font-size: 2.4rem;
      }

    }

    & span {
      font-size: 2rem;
      width: 13rem;
    }

  }

  & .btn {
    font-size: 2rem;
    background-color: red;
    color: var(--btn-color);
    cursor: pointer;
    padding: 1.2rem 1.5rem;
    border-radius: 1rem;

    &:hover {
      color: black;
      font-weight: 500;
      background-color: rgb(255, 217, 0);
    }
  }
}

.checkList {
  text-decoration: line-through;
}

.notCheckList {
  text-decoration: none;
}

/***** End todo Section *****/


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (width <=950px) {
  .todo-container {
    padding-right: 10rem;
  }
}

@media (width <=550px) {

  html {
    font-size: 50%;
  }

  .todo-container {

    padding: 0 4rem 0 1rem;

    & .form {
      width: auto;

      & .todo-input {
        padding: 0 0 0 1.8rem;
        font-size: 1.7rem;
        height: 32px;
        width: 20rem;
      }

      & .todo-btn {
        padding: .1rem .3rem;
        width: 8rem;
        height: 32px;
        font-size: 1.6rem;
      }

    }

    & .todo-list {
      & li {
        width: 31rem;
      }
    }

    & .btn {
      padding: 1rem 1rem;
    }

  }

}

@media (width <=300px) {

  html {
    font-size: 37.5%;
  }

  .todo-container {
    & .form {
      height: 36px;
      & .todo-input {        
        width: 100px;
        font-size: 14px;
        padding-left: 10px;
      }

      & .todo-btn {
        padding: 0;
        width: 60px;
        font-size: 12px;
      }

    }

    & .todo-list {
      & li {
        width: 30rem;

        & .li-btn {
          font-size: 2rem;
          gap: 1rem;
          cursor: pointer;
          padding-left: .5rem;
        }
      }
    }


  }

}

@media (width <=200px) {

  .todo-container {
    padding: 0 15px 0 6px;

    & .form {
      & .todo-input {
        width: 60px;
        font-size: 10px;
      }

      & .todo-btn {
        width: 50px;
        font-size: 10px;
      }
    }

    & .todo-list {
      & li {
        width: 24rem;

        & .li-btn {
          font-size: 2rem;
          gap: 1rem;
          cursor: pointer;
          padding-left: .5rem;
          flex-wrap: wrap;
        }
      }
    }

  }

}